.container {
    margin-top: 15px;

}

.drop {
    color: white;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-box {
    outline: none;
    border: none;
}

.search-wrapper {
    border: 1px solid lightblue;
    padding: 3px;
    border-radius: 5px;
}

.status_assigned {
    background-color: plum !important;
}

.ticket_edit_button {
    padding: 5px !important;
    width: 4rem;
}

.status_new {
    background-color: blue !important;
}

.status_inProgress {
    background-color: blueviolet !important;
}

.status_completed {
    background-color: green !important;
}